<div class="card m-5">
  <div class="d-flex justify-content-between">
    <span>Short URL</span>
  </div>
  <div class="card-header d-flex justify-content-between">
    <h4><%= @post.title %></h4><p>Posted by <%= @post.user&.email %> </p>
  </div>
  <div class="card-body">
    <h6><%= @post.disasters.pluck(:name).join('#') %></h6>
    <p class="card-text"><%= @post.content %></p>
    <hr/>
    <i class="float-end"><%= @post.address %></i>
    <div><%= link_to "#{if @post.comments_count > 1 then "#{@post.comments_count} Comments" else 'Comment' end}", post_comments_path(@post) %></div>
  </div>
</div>